In [12]:
# Import the dependencies
import numpy as np
from pathlib import Path
import pandas as pd
from geopy.distance import geodesic as GD

In [8]:
# read in csv
citi2020Df = pd.read_csv(
    Path("202004-citibike-tripdata.csv")
)

In [13]:
citi2020Df.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
682757,1680,2020-04-30 23:59:00.7780,2020-05-01 00:27:01.7600,447,8 Ave & W 52 St,40.763707,-73.985162,2021,W 45 St & 8 Ave,40.759291,-73.988597,43888,Subscriber,1989,1
682758,1334,2020-04-30 23:59:23.6460,2020-05-01 00:21:38.2190,3292,5 Ave & E 93 St,40.785785,-73.957481,509,9 Ave & W 22 St,40.745497,-74.001971,36853,Subscriber,1973,1
682759,1334,2020-04-30 23:59:33.6760,2020-05-01 00:21:48.2150,3292,5 Ave & E 93 St,40.785785,-73.957481,509,9 Ave & W 22 St,40.745497,-74.001971,37808,Subscriber,1981,1
682760,234,2020-04-30 23:59:56.9720,2020-05-01 00:03:51.9600,469,Broadway & W 53 St,40.763441,-73.982681,495,W 47 St & 10 Ave,40.762699,-73.993012,20635,Subscriber,1996,2
682761,267,2020-04-30 23:59:59.3510,2020-05-01 00:04:26.8110,3812,University Pl & E 14 St,40.734814,-73.992085,503,E 20 St & Park Ave,40.738274,-73.987520,37530,Subscriber,1980,1

In [14]:
citi2020Df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 682762 entries, 0 to 682761
Data columns (total 15 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   tripduration             682762 non-null  int64
 1   starttime                682762 non-null  object
 2   stoptime                 682762 non-null  object
 3   start station id         682762 non-null  int64
 4   start station name       682762 non-null  object
 5   start station latitude   682762 non-null  float64
 6   start station longitude  682762 non-null  float64
 7   end station id           682762 non-null  int64
 8   end station name         682762 non-null  object
 9   end station latitude     682762 non-null  float64
 10  end station longitude    682762 non-null  float64
 11  bikeid                   682762 non-null  int64
 12  usertype                 682762 non-null  object
 13  birth year               682762 non-null  int64
 14  gender                   682762 non-null  int64
dtypes: float64(4), int64(6), object(5)
memory usage: 78.1+ MB

## Create relavent dataframes
Here we will seperate this data from March 2020

In [33]:

series0 = citi2020Df['tripduration']
series3 = citi2020Df['start station id']
series5=citi2020Df['start station latitude']
series6=citi2020Df['start station longitude']
series7=citi2020Df['end station id']
series9=citi2020Df['end station latitude']
series10=citi2020Df['end station longitude']

In [36]:
# primary DF
# columns needed: [0,3,5,6,7,9,10,]
# 356 is the start point
# 7910 is the end point
stationCoordinateDf = pd.concat([series0, series3, series5, series6,series7,series9, series10], 
    axis = 1)

In [37]:
stationCoordinateDf.head()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude
0,534,3656,40.723077,-73.985836,545,40.736502,-73.978095
1,529,3163,40.773407,-73.977825,3301,40.791956,-73.968087
2,1488,3164,40.777057,-73.978985,3605,40.765835,-73.926547
3,341,3827,40.685650,-73.915640,3869,40.692000,-73.926170
4,2206,3890,40.690470,-73.923511,3058,40.692371,-73.937054

In [ ]:
# rename 5,6; startLat startLong
# rename 9,10; endLat endLong

In [ ]:
# Using geoppy ascertain distance 
# use coordinates of startLat startLong v. endLat endLong

In [38]:
# second DF for obect items sucha as start and end times
# these can be read into tableau easily (i hope)
# columns needed: [0,1,2,4,8]
series0 = citi2020Df['tripduration']
series1 = citi2020Df['starttime']
series2=citi2020Df['stoptime']
series4=citi2020Df['start station name']
series8=citi2020Df['end station name']

# use pandas concat() to create secondary df
stationTimeDf = pd.concat([series0, series1, series2, series4,series8],
    axis = 1)

# does the baby have all 10 fingers and toes?
stationTimeDf.head()

,tripduration,starttime,stoptime,start station name,end station name
0,534,2020-04-01 00:00:15.2800,2020-04-01 00:09:09.8730,E 2 St & Avenue A,E 23 St & 1 Ave
1,529,2020-04-01 00:02:28.9430,2020-04-01 00:11:18.3410,Central Park West & W 68 St,Columbus Ave & W 95 St
2,1488,2020-04-01 00:02:56.0900,2020-04-01 00:27:44.2530,Columbus Ave & W 72 St,31 Ave & Crescent St
3,341,2020-04-01 00:03:25.1410,2020-04-01 00:09:06.3190,Halsey St & Broadway,Van Buren St & Broadway
4,2206,2020-04-01 00:05:35.2790,2020-04-01 00:42:21.9080,Grove St & Broadway,Lewis Ave & Kosciuszko St

In [39]:
# third DF [0,12,13,14]
# maybe can be used for demographic analysis
series0 = citi2020Df['tripduration']
series12 = citi2020Df['usertype']
series13=citi2020Df['birth year']
series14=citi2020Df['gender']

# use pandas concat() to create secondary df
stationDemographicsDf = pd.concat([series0, series12, series13, series14],
    axis = 1)

# does the baby have all 10 fingers and toes?
stationDemographicsDf.head()

   tripduration    usertype  birth year  gender
0           534  Subscriber        1990       2
1           529  Subscriber        1974       1
2          1488  Subscriber        1982       1
3           341  Subscriber        1996       1
4          2206  Subscriber        1977       1