In [1]:
# Import the dependencies
import numpy as np
from pathlib import Path
import pandas as pd
from geopy.distance import geodesic as GD

## Create 2019 dataframe
First, read in the file\
Second, collect top 20 start station names\
Last, create a filtered dataframe

In [2]:
# read in csv
citi2019Df = pd.read_csv(
    Path("201902-citibike-tripdata.csv")
)
stationFrequency = citi2019Df['start station name'].value_counts()
#stationFrequency[:20]

In [3]:
stationFrequency[:20]

Pershing Square North    8084
W 21 St & 6 Ave          6303
8 Ave & W 31 St          5969
E 17 St & Broadway       5903
Broadway & E 22 St       5788
Broadway & E 14 St       5713
8 Ave & W 33 St          5035
W 41 St & 8 Ave          5033
Lafayette St & E 8 St    4836
W 16 St & 8 Ave          4809
W 20 St & 11 Ave         4733
E 47 St & Park Ave       4663
W 38 St & 8 Ave          4644
Broadway & W 60 St       4547
W 31 St & 7 Ave          4473
Broadway & W 25 St       4425
W 33 St & 7 Ave          4402
Broadway & W 41 St       4333
1 Ave & E 16 St          4262
6 Ave & W 33 St          4257
Name: start station name, dtype: int64

In [4]:
# stationFrequency[:20]
topTwenty2019Ls=['Pershing Square North', 'W 21 St & 6 Ave', '8 Ave & W 31 St', 'E 17 St & Broadway', 'Broadway & E 22 St', 'Broadway & E 14 St', '8 Ave & W 33 St', 'W 41 St & 8 Ave', 'Lafayette St & E 8 St', 'W 16 St & 8 Ave', 'W 20 St & 11 Ave', 'E 47 St & Park Ave', 'W 38 St & 8 Ave', 'Broadway & W 60 St', 'W 31 St & 7 Ave', 'Broadway & W 25 St', 'W 33 St & 7 Ave', 'Broadway & W 41 St', '1 Ave & E 16 St', '6 Ave & W 33 St']

In [6]:
# filter the databse by the start staion name using the list of the top 20 stops
filteredCiti2019Df = citi2019Df[citi2019Df['start station name'].str.contains('|'.join(topTwenty2019Ls), na = False)]

### Create 3 dataframes
First, station coordinate dataframe\
Second, station time dataframe\
Last, station demographic dataframe

In [7]:
# these series will give us info on lat/long
# conmtains statin ids

series0 = filteredCiti2019Df['tripduration']
series3 = filteredCiti2019Df['start station id']
series5=filteredCiti2019Df['start station latitude']
series6=filteredCiti2019Df['start station longitude']
series7=filteredCiti2019Df['end station id']
series9=filteredCiti2019Df['end station latitude']
series10=filteredCiti2019Df['end station longitude']

# primary DF
# columns needed: [0,3,5,6,7,9,10,]
# 356 is the start point
# 7910 is the end point
stationCoordinate2019Df = pd.concat([series0, series3, series5, series6,series7,series9, series10], 
    axis = 1)
stationCoordinate2019Df.head()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude
8,541,293.0,40.730207,-73.991026,383.0,40.735238,-74.000271
16,469,490.0,40.751551,-73.993934,508.0,40.763414,-73.996674
24,848,3660.0,40.741022,-74.001385,487.0,40.733143,-73.975739
43,1203,3255.0,40.750585,-73.994685,442.0,40.746647,-73.993915
71,195,285.0,40.734546,-73.990741,223.0,40.737815,-73.999947

In [9]:
# second DF for obect items sucha as start and end times
# these can be read into tableau easily (i hope)
# columns needed: [0,1,2,4,8]
series0 = filteredCiti2019Df['tripduration']
series1 = filteredCiti2019Df['starttime']
series2=filteredCiti2019Df['stoptime']
series4=filteredCiti2019Df['start station name']
series8=filteredCiti2019Df['end station name']

# use pandas concat() to create secondary df
stationTime2019Df = pd.concat([series0, series1, series2, series4,series8],
    axis = 1)

# does the baby have all 10 fingers and toes?
stationTime2019Df.head()

,tripduration,starttime,stoptime,start station name,end station name
8,541,2019-02-01 00:02:28.0750,2019-02-01 00:11:29.5490,Lafayette St & E 8 St,Greenwich Ave & Charles St
16,469,2019-02-01 00:05:12.0320,2019-02-01 00:13:01.6280,8 Ave & W 33 St,W 46 St & 11 Ave
24,848,2019-02-01 00:06:35.5860,2019-02-01 00:20:44.3030,W 16 St & 8 Ave,E 20 St & FDR Drive
43,1203,2019-02-01 00:12:57.4990,2019-02-01 00:33:01.4500,8 Ave & W 31 St,W 27 St & 7 Ave
71,195,2019-02-01 00:26:36.1490,2019-02-01 00:29:51.6580,Broadway & E 14 St,W 13 St & 7 Ave

In [10]:
# third DF [0,12,13,14]
# maybe can be used for demographic analysis
series0 = filteredCiti2019Df['tripduration']
series12 = filteredCiti2019Df['usertype']
series13=filteredCiti2019Df['birth year']
series14=filteredCiti2019Df['gender']

# use pandas concat() to create secondary df
demographics2019Df = pd.concat([series0, series12, series13, series14],
    axis = 1)

# does the baby have all 10 fingers and toes?
demographics2019Df.head()

    tripduration    usertype  birth year  gender
8            541  Subscriber        1981       0
16           469  Subscriber        1968       1
24           848  Subscriber        1997       1
43          1203    Customer        1969       0
71           195  Subscriber        1992       1

## Create 2020 dataframe

In [2]:
# read in csv
citi2020Df = pd.read_csv(
    Path("202004-citibike-tripdata.csv")
)

In [3]:
stationFrequency = citi2020Df['start station name'].value_counts()

In [4]:
topTwenty2020Ls = [
'1 Ave & E 68 St',
'West St & Chambers St',
'12 Ave & W 40 St',
'Pier 40 - Hudson River Park',
'Broadway & W 60 St',
'S 5 Pl & S 5 St',
'E 33 St & 1 Ave',
'Little West St & 1 Pl',
'Christopher St & Greenwich St',
'Central Park S & 6 Ave', 
'E 17 St & Broadway', 
'5 Ave & E 73 St',
'E 13 St & Avenue A',
'Clinton St & Grand St',
'1 Ave & E 16 St',
'W 21 St & 6 Ave',
'Broadway & E 22 St',
'Carmine St & 6 Ave',
'West Drive & Prospect Park West',
'Broadway & W 25 St']
#stationFrequency[:20]
len(topTwenty2020Ls)

20

In [5]:
# filter the databse by the start staion name using the list of the top 20 stops
filteredCiti2020Df = citi2020Df[citi2020Df['start station name'].str.contains('|'.join(topTwenty2020Ls))]

In [6]:
len(filteredCiti2020Df)

61297

### Create 3 dataframes

In [7]:

series0 = filteredCiti2020Df['tripduration']
series3 = filteredCiti2020Df['start station id']
series5=filteredCiti2020Df['start station latitude']
series6=filteredCiti2020Df['start station longitude']
series7=filteredCiti2020Df['end station id']
series9=filteredCiti2020Df['end station latitude']
series10=filteredCiti2020Df['end station longitude']

In [8]:
# primary DF
# columns needed: [0,3,5,6,7,9,10,]
# 356 is the start point
# 7910 is the end point
stationCoordinate2020Df = pd.concat([series0, series3, series5, series6,series7,series9, series10], 
    axis = 1)

In [9]:
stationCoordinate2020Df.head()

,tripduration,start station id,start station latitude,start station longitude,end station id,end station latitude,end station longitude
12,1346,504,40.732219,-73.981656,465,40.755136,-73.986580
16,1612,426,40.717548,-74.013221,3077,40.708771,-73.950953
77,683,426,40.717548,-74.013221,3746,40.724308,-74.004730
89,985,514,40.760875,-74.002777,507,40.739126,-73.979738
95,389,3711,40.729667,-73.980680,411,40.722281,-73.976687

In [11]:
# second DF for obect items sucha as start and end times
# these can be read into tableau easily (i hope)
# columns needed: [0,1,2,4,8]
series0 = filteredCiti2020Df['tripduration']
series1 = filteredCiti2020Df['starttime']
series2=filteredCiti2020Df['stoptime']
series4=filteredCiti2020Df['start station name']
series8=filteredCiti2020Df['end station name']

# use pandas concat() to create secondary df
stationTime2020Df = pd.concat([series0, series1, series2, series4,series8],
    axis = 1)

# does the baby have all 10 fingers and toes?
stationTime2020Df.head()

,tripduration,starttime,stoptime,start station name,end station name
0,534,2020-04-01 00:00:15.2800,2020-04-01 00:09:09.8730,E 2 St & Avenue A,E 23 St & 1 Ave
1,529,2020-04-01 00:02:28.9430,2020-04-01 00:11:18.3410,Central Park West & W 68 St,Columbus Ave & W 95 St
2,1488,2020-04-01 00:02:56.0900,2020-04-01 00:27:44.2530,Columbus Ave & W 72 St,31 Ave & Crescent St
3,341,2020-04-01 00:03:25.1410,2020-04-01 00:09:06.3190,Halsey St & Broadway,Van Buren St & Broadway
4,2206,2020-04-01 00:05:35.2790,2020-04-01 00:42:21.9080,Grove St & Broadway,Lewis Ave & Kosciuszko St

In [12]:
# third DF [0,12,13,14]
# maybe can be used for demographic analysis
series0 = filteredCiti2020Df['tripduration']
series12 = filteredCiti2020Df['usertype']
series13=filteredCiti2020Df['birth year']
series14=filteredCiti2020Df['gender']

# use pandas concat() to create secondary df
demographics2020Df = pd.concat([series0, series12, series13, series14],
    axis = 1)

# does the baby have all 10 fingers and toes?
demographics2020Df.head()

   tripduration    usertype  birth year  gender
0           534  Subscriber        1990       2
1           529  Subscriber        1974       1
2          1488  Subscriber        1982       1
3           341  Subscriber        1996       1
4          2206  Subscriber        1977       1

## Combine Data
Using Pandas' append function, create a new dataframe to be exported as a CSV file

### Coordinate dataframes

### Time dataframes

### Demographic dataframes

### Export to CSV